$theme-color-primary: #074F57;
$theme-color-accent: #077187;
$theme-color-background: #fff;
$theme-color-foreground: $theme-color-primary;

$theme-font-heading: 'IM Fell French Canon SC', serif;
$theme-font-body: 'Oxygen', sans-serif;
$theme-font-size-base: 18px;

$theme-breakpoint-xs: 576px;
$theme-breakpoint-md: 768px;
$theme-breakpoint-lg: 992px;
$theme-breakpoint-xl: 1200px;
