$color-primary: #393e46;
$color-secondary: #EEEEEE;
$color-accent: #00adb5;
$color-foreground: #222831;

$font-heading: 'Lato', sans-serif;
$font-body: 'Raleway', sans-serif;
$font-size-base: 18px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
