@import "~normalize.css";

html, body {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

button, input, optgroup, select, textarea {
  line-height: inherit;
}

button {
  color: inherit;
}
