@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Oxygen');
@import "./config.scss";

html, body {
  background: $theme-color-background;
  color: $theme-color-foreground;
  font-size: $theme-font-size-base;
  font-family: $theme-font-body;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $theme-font-heading;
}

input {
  padding: 0.5rem 1rem;
  border: 1px solid $theme-color-primary;
  background: $theme-color-background;
  outline: none;
  
  &:focus {
    border-color: lighten($theme-color-primary, 20%);
  }
}

button {
  border: 0;
  padding: 0.5rem 1rem;
  background: $theme-color-primary;
  color: $theme-color-background;
  
  &:focus {
    border-color: lighten($theme-color-primary, 20%);
  }
}

.container {
  max-width: 1180px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
